<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PHOTO_TYPE_ALLOW" value=".jpg,.png"/>
    <add key="PHOTO_MAX_LENGTH" value="504800"/>
    <add key="PHOTO_UPLOAD_PATH" value="~\\upload\\photo\\"/>
    <add key="LOG_PATH" value="~\\log\\text.txt"/>
    <add key="LOG_PATH2" value="~\\log\\logpass.txt"/>
    <add key="SENDER_ID" value="tmail@mrizvandi.com"/>
    <add key="time" value="00:10:10"/>
    <!--jQuery UnobtrusiveValidationMode Error Fix-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="tmail@mrizvandi.com">
        <network host="mail.mrizvandi.com" userName="tmail@mrizvandi.com" password="9tRrd92?" defaultCredentials="false" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/error page.html" />
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <!--توجه-->
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
  </system.web>
</configuration>